# .clangd

CompileFlags:
  Add: 
    - -std=c2x          # Use C11 standard (change to c99 if you prefer)
    - -target
    - x86_64-w64-windows-gnu
    - -D__USE_MINGW_ANSI_STDIO=1
    - -Wall             # Enable all warnings
    - -Wextra           # Extra warnings
    - -Werror
    - -O3
    - -I"C:/portable-programs/C-in-w64devkit-1.20.0/x86_64-w64-mingw32/include"
    - -I"C:/portable-programs/C-in-w64devkit-1.20.0/lib/gcc/x86_64-w64-mingw32/13.2.0/include"
    - -D_CRT_SECURE_NO_WARNINGS          # optional, suppress MSVC warnings
    - -D__STDC_LIB_EXT1__                # optional, for C11 safe functions